<h2>Details of {{celebrities.celName}}</h2>
{{#with celebrities}}
<ol>
    <div>Name of the celebrity: {{celName}}</div>
    <div>Work: {{occupation}}</div>
    <div>Favourite sentence: {{catchPhrase}}</div>
</ol>
 {{/with}}
 <a href="/celebrities">back</a>